---
// src/pages/join.astro
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="CLAIM CERTIFICATE// PINK CODING CLUB" isIndex={false} version="CLAIM CERTIFICATE // V.01">
  
  <link rel="stylesheet" href="/styles/manifesto.css" slot="head" />

  <span slot="hero-title">FIN.</span>

  <div class="mgrid-section">
    <div class="mgrid-item">
      <span class="burst"></span> 
      <h2>CONGRATS!</h2>
      <p>
       
      </p>
    </div>

    <div class="mgrid-item">
      <span class="burst"></span>
      <h2>How to Claim Certificate</h2>
      <p>
       
      </p>
    
    </div>
  </div>

</BaseLayout>
