---
// src/pages/join.astro
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="CLAIM CERTIFICATE// PINK CODING CLUB" isIndex={false} version="CLAIM CERTIFICATE // V.01">
  
  <link rel="stylesheet" href="/styles/manifesto.css" slot="head" />

  <span slot="hero-title">FIN.</span>

  <div class="mgrid-section">
    <div class="mgrid-item">
      <span class="burst"></span> 
      <h2>CONGRATS!</h2>
      <p>
       You've made it so far and we're all super proud of you! You've not only learned so much about programming, but you've stuck to the P.C.C. Philosophy and stayed true to yourself. Even if your time with P.C.C. is over, we hope you continue on building and creating amazing things! 
      </p>
    </div>

    <div class="mgrid-item">
      <span class="burst"></span>
      <h2>How to Claim Certificate</h2>
      <p>
       Please migrate your required projects onto <a link href="https://codepen.io/" style="color:#facee2; text-decoration:none;" target="_blank">Codepen</a> and send us the links to them. Give us your name so we can put it on your certificate! Also, be sure to send in the required learning documentation (a google doc of your notes). We can't wait to see what you've learned. Use the form below to send everything in. 
      </p>
    
    </div>
  </div>

</BaseLayout>
